<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand header-title" href="/">explore<span class="yellow-text">Venue</span></a>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 filters">
            <h3 class="mt-2">Filter By</h3>
            <div>
                <div class="form-group">
                    <img src="assets/images/icons8-location-50.png" width="30px" height="30px">
                    <label class="filter-label" for="defaultCheck1">Location</label>
                    {{#each templateVariables.filterByLocations as |location|}}
                    <div class="form-check ml-4">
                        <input class="form-check-input location-checkbox" type="checkbox" value="" id="location-check-{{@index}}">
                        <label class="form-check-label" for="location-check-{{@index}}">
                            {{location}}
                        </label>
                    </div>
                    {{/each}}
                </div>

                <div class="form-group">
                    <img src="assets/images/icons8-building-50.png" width="30px" height="30px">
                    <label class="filter-label" for="exampleFormControlSelect1">Category</label>
                    {{#each templateVariables.filterByCategory as |category|}}
                    <div class="form-check ml-4">
                        <input class="form-check-input" type="radio" name="categoryRadios" id="category-radio-{{@index}}"
                            value="option1">
                        <label class="form-check-label" for="category-radio-{{@index}}">
                            {{category}}
                        </label>
                    </div>
                    {{/each}}
                </div>

                <div class="form-group">
                    <img src="assets/images/icons8-account-50.png" width="30px" height="30px">
                    <label class="filter-label" for="exampleFormControlSelect1">Capacity</label>
                    {{#each templateVariables.filterByCapacity as |capacity|}}
                    <div class="form-check ml-4">
                        <input class="form-check-input" type="radio" name="capacityRadios" id="capacity-radio-{{@index}}"
                            value="option1">
                        <label class="form-check-label" for="capacity-radio-{{@index}}">
                            {{capacity}}
                        </label>
                    </div>
                    {{/each}}
                </div>

                <div class="form-group">
                    <button class="btn btn-outline-warning" onclick="applyFilters()">Apply Filters</button>
                </div>

            </div>
        </div>
        <div class="col-10">
            {{#each templateVariables.venues}}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/images/ritz.jpeg" width="500px" height="300px" alt="..."
                            class="img-fluid rounded-start">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <form action="/api/reservation" method="POST">
                                <input type="text" hidden name="venue_id" value="{{id}}">
                                <input type="text" hidden name="user_id" value="7">
                                <input type="text" hidden name="date" value="10/01/2021">
                                <button class="btn btn-warning" type="submit">Book Venue</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="assets/js/search.js"></script>